@import ".generated/app";

html{
  background: url("https://3c1703fe8d.site.internapcdn.net/newman/csz/news/800/2017/introducingd.jpg") no-repeat;
  background-size: 120%;
  background-position: 0px 0px;
}

body {
  font-family: 'Work Sans', sans-serif !important;
  width: 20%;
  position: relative;
  float: right;
  margin: 0px;
  margin-right: 64px;
  padding: 50px;
  color: #000;
  line-height: 34px;
  max-height: 100%;
  background-image: -webkit-gradient(linear,right top,left top,from($color-primary-brand-dark),to($color-primary-brand));
  background-image: linear-gradient(to left,$color-primary-brand-dark,$color-primary-brand);
}

h1, p{
  color: #FFF;
  font-size: 21px;
}

p{
  color: #FFF;
  font-size: 17px;
}


a {
  text-decoration: underline;
  color: #FFF;
}

p a.btn-start{
  float: left;
  background-color: #FFF;
  text-align: center;
  text-decoration: none;
  margin-top: 28px;
  color: #444;
  padding: 0px 36px;
  border: 2px solid #fff;
}

p a.btn-start:hover{
  border: 2px solid #fff;
  text-transform: none;
  background: none;
  color: #fff;

}


.BaseLinguage{
    background-color: #FFF;
    float: left;

    width: 35%;
    height: 25%;
    float: left;

}