@import ".generated/app";

html{
<<<<<<< HEAD
  background: url("https://3c1703fe8d.site.internapcdn.net/newman/csz/news/800/2017/introducingd.jpg") no-repeat;
  background-size: 120%;
  background-position: 0px 0px;
=======
  background: url("https://forumone.com/sites/default/files/images/lego.png");
  /*background: url("https://i.pinimg.com/originals/1e/40/2f/1e402f200c8801fffd63650114920c09.jpg");
  background: url("https://cdnb.artstation.com/p/assets/images/images/012/431/993/large/renderbricks-31024-alternate-roadster-theta-v-hdri-kitchen-180919-1611-v03a-fiat.jpg");*/
  background-size: 100%;
  background-position: 0px;
>>>>>>> 3c3370f58b842f63bc434f540cb8bf27b05a04be
}

body {
  font-family: 'Work Sans', sans-serif !important;
  width: 20%;
  position: relative;
  float: right;
  margin: 0px;
  margin-right: 64px;
  padding: 50px;
  color: #000;
  line-height: 37px;
  max-height: 100%;
  background-image: -webkit-gradient(linear,right top,left top,from($color-primary-brand-dark),to($color-primary-brand));
  background-image: linear-gradient(to left,$color-primary-brand-dark,$color-primary-brand);
}

h1, p{
  color: #FFF;
}

a {
  text-decoration: underline;
  color: #FFF;
}

p a.btn-start{
  float: left;
  background-color: #FFF;
  text-align: center;
  text-decoration: none;
  margin-top: 28px;
  color: #444;
  padding: 0px 36px;
  border: 2px solid #fff;
}

p a.btn-start:hover{
  border: 2px solid #fff;
  text-transform: none;
  background: none;
  color: #fff;

}
